# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment files
.env
*.env

# Django
media/
staticfiles/

# SQLite (optional)
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Node / React
node_modules/
build/
